<!DOCTYPE html>
{% load static %}
</head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<title>Acerca De Tecnoelectro</title>
<div class="container-fluid">
   <div class="header">
      <nav class="navbar navbar-expand-sm bg-trans navbar-trans navbar-inverse sticky-top navbar-fixed-top sticky">
         <!-- Logo Image -->
         <a href="/" class="brand-logo"><img src="counter/images/sc.png" width="250" height="100"
               alt="sc"></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <div class="form-inline my-2 my-lg-0">
               <div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                     aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span></button>
                  <!-- DropDown Nav Bar -->
                  <a href="/" class="btn btn-white">Productos</a>
                  <a href="tel:+50640339238" class="btn btn-white">Atencion al cliente<img
                        src="counter/images/ph.png" width="45" height="45" alt="sc"></a>
                 <!--  <a href="/cart/">
                     <img id="cart-icon" src="counter/images/cart.png" width="40" height="40" alt="sc">
                  </a>
                  <div class="form-inline my-2 my-lg-0">

                     <p id="cart-total">{{cartItems}}</p> -->

                     <a href="/login/" class="btn btn-info">Iniciar Sesion/Registrarse</a>

                  </div>
            		<button class="collapsible" style="text-align:center;">Vendedores / Agentes</button>
		<div class="content">
				<a href="https://wa.me/50664251938"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Tecnoelectro WhatsApp</a>
				<a href="https://wa.me/50662139266"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Josua Corrales - Gammer</a>
				<a href="https://wa.me/50671016124"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Lupe Palma</a>
				<a href="https://wa.me/50672610966"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Tati Porras</a>
				<a href="https://wa.me/50683138801"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Argery Chacon</a>
				<a href="https://wa.me/50663311665"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Josseline Calvo </a>
				<a href="https://wa.me/50685379735"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Shirley Calderon </a>
				<a href="https://wa.me/50671518291"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Steven Arburola</a>
				<a href="https://wa.me/50670049582"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Cristel Ching</a>
				<a href="https://wa.me/50688062664"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Laura Obando</a>
				<a href="https://wa.me/50670786886"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Daniela Solano</a>
				<a href="https://wa.me/50662459193"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Katherine Jarquin</a>
				<a href="https://wa.me/50662260928"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Tracy Guillen</a>
				<a href="https://wa.me/50661802259"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Jessica Bourrouoet</a>
				<a href="https://wa.me/50684091391"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Kimberly Flores</a>
				<a href="https://wa.me/50671065021"class="btn btn-white"><img  id="cart-icon" src="counter/images/whatsappicon.jpg" width="25" height="25" alt="sc">Fabian Padron</a>



				</div>	




                  </div>
               </div>
            </div>
      </nav>
      <!--NAV BAR CONTAINER-->
                  <div class="container">
                     <br>          
                  </div>   
                  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                  {% block content %}
            
                  {% endblock content %}
      <!-- RESPONSIVE NAV BAR -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
         <link rel="stylesheet" type="text/css" href="counter/css/main.css">
      </div>   
  </div>   

</head>
</body>

<p><b></b></p>
<p><b></b></p>

<H3 align="center">
      <div style="text-align:center;">
         <p>Somos <b>Tecnoelectro Comercio Online</b> la tienda para tus compras tecnológicas a Crédito</p> 
         <p>Te ayudamos & asesoramos en el proceso del estudio, afiliación, compra, entrega & pagos</p> 
         <p>Tenemos desde: <b>SmartPhones, Smart Tvs, SmartWatchs, PS4, Nintendo Switch, PC Gammer, Laptops</b></p> 
          <p><b> Tablets, iPads,  electrodomesticos, muebleria, linea blanca, herramientas, motocicletas  y mucho más...</b></p> 
          <p><b> Tecno-abarrotes, Diarios de comida no perecederos, Manicure & pedicure, material electrico, de construccion</b></p> 
          <p>Hacemos Entregas a todo el país; tenemos mensajero, hacemos encomiendas o puedes retirar en nuestro local de despacho</b></p> 	
         <p>Todos los productos son <b>100%</b> originales & con 12 meses de garantía de fábrica!</p> 		 
         <p>NO TE MUEVAS DE TU CASA! Compre y disfrute de sus articulos SIN moverse de la comodidad!</p> 	

   </div>
   <p><b></b></p>
      <p><b>¿Te interesa el financiamiento? </b></p>
      <p><b></b></p>

      <a href=""><img src="counter/images/emma.jpeg" width="200" height="200" alt="EMMA PAY" /></a>
      <p><em><b>Requisitos:</b></em></p>

      <p><em>-Cedula identidad, +18 (Asalariado, independientes, universitarios, pensionados, conductores de plataforma).</em></p>
      <p><em><b>1. Descargar Emma Pay de       <a href="https://play.google.com/store/apps/details?id=com.yellowpepper.unicomer.unipay.prod&hl=es_GT"><img src="counter/images/pstore.jpg" width="100" height="100" alt="pstore" /></a>,<a href=" https://apkcombo.com/emma-pay/com.yellowpepper.unicomer.unipay.prod/">APK (Metodo 2) o <a href="https://apps.apple.com/cr/app/emma-pay/id1455374257"><img src="counter/images/appstore.jpg" width="100" height="100" alt="appstore" /></a>
      </a>.</b></em></p>

      <p><em></em></p>
      

      <p><em>2.Registrarse</em></p> 
      <video width="400" height="400" controls>
         <source src="counter/images/emma1.mp4" type="video/mp4">
       </video>
      <p><em>3.Aplicar para el crédito</em></p>
      <video width="400" height="400" controls>
         <source src="counter/images/emma2.mp4" type="video/mp4">
       </video>
      <p><em>4.Comprar con Emma en Tecnoelectro</em></p>
      <video width="400" height="400" controls>
         <source src="counter/images/emma3.mp4" type="video/mp4">
       </video>

       <p><em>5.Descargar Codigo QR</em></p>
      <a href="counter/images/qrc.jpg" download="QR"><img src="counter/images/qrc.jpg" width="200" height="150" alt="CodigoQR"></a>
      <p>Descarga el Codigo QR con el que podras comprar en Tecnoelectro</p>

      <p><em></em></p>


      <a img src=""><img src="counter/images/MINICUOTAS.jpg" width="300" height="300" alt="Bac" /></a>
      <p><em><b>Requisitos:</b></em></p>
      <p><em><b>Tasa 0 & Minicuotas</b></em></p>
      <p><em>Crédito disponible en la tarjeta de crédito equivalente al Monto del artículo.</em> </p>
      <p><em>Cédula identidad ambos lados.</em> </p>
      <p><em>Email & Número telefónico.</em></p>

      <a img src="counter/images/CREDIXLOGO.png"></a> <img src="counter/images/CREDIXLOGO.png" width="300" height="200" alt="credix" /></a>
      <p><em><b>Tenemos</b></em></p>

      <a img src="counter/images/credix6.png"></a> <img src="counter/images/credix6.png" width="100" height="100" alt="credix1" ></a>
      <p><em><b>&</b></em></p>

      <a img src="counter/images/credix36.png"></a> <img src="counter/images/credix36.png" width="150" height="150" alt="credix2" ></a>
      <p><em><b>Requisitos:</b></em></p>
 
      <p><em>Crédito Disponible en la tarjeta de crédito equivalente al Monto del artículo</em> </p>
      <p><b>Si no la tienes te ayudamos con la afiliación</b></p>
      <p><em>Cedula identidad ambos lados</em> </p>
      <p><em>Email & Número telefónico</em></p>



      <p><em>Descarga la aplicacion & Usa Credix Pay Par Pagar en tecnoelectro </em> </p>
      <a href="https://play.google.com/store/apps/details?id=com.credix.credixpay&hl=en_US&gl=US"><img src="counter/images/pstore.jpg" width="100" height="100" alt="credix" />Credix Pay</a>

      <p><em>  </em> </p>


      <a href=""><img src="counter/images/american.png" width="300" height="150" alt="card" /></a>
      <p><em>  </em> </p>

      <a href=""><img src="counter/images/cards.png" width="150" height="150" alt="card" /></a>
      <p><em>  </em> </p>

      <a href=""><img src="counter/images/payp.jpg" width="100" height="100" alt="paypal" /></a>
      <p><em>  </em> </p>

      <a href=""><img src="counter/images/visa.jpg" width="150" height="150" alt="paypal" /></a>

      <p><em>Puedes hacer los pagos por medio de transferencia directa a nuestra cuenta del <b>BAC</b></em> </p>
      <p><em><b>CUENTA IBAN:</b> CR0701020009219769401 - Sociedad Civil Educar Jugando</em> </p>
      <p><em><b>SINPE:</b>7178 5522  </em> </p>
      <p><em>Consultar con un agente de ventas verificado antes de hacer esto y por ningún motivo depositar a otras cuentas.</em> </p>

      <p><em>Vén a nuestro local a solicitar el crédito con gusto te ayudamos!</em> </p>

      <p><em>Nos ubicamos acá.</em> </p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.099820768541!2d-84.07375678586705!3d9.92564427703507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e358dbc13f5b%3A0x3404af140179a4fa!2sTecnoelectro%20Comercio%20Online!5e0!3m2!1ses-419!2scr!4v1609046295985!5m2!1ses-419!2scr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

   </div>

</H3>

      <div class="fnav">
   		<div style="text-align:center"><p> © Copyright &copy;2020. Designed by <a href="https://nigarumovum.github.io/" rel="nofollow"> Neighbortech</a></p> 
          </div>
			  </div>
      </body>
<!--<collapsible --->
	<script>
		var coll = document.getElementsByClassName("collapsible");
	var i;
	
	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
		  content.style.display = "none";
		} else {
		  content.style.display = "block";
		}
	  });
	}
	</script>
</html>


