<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLasNADPwXnd3gxMEteyuF0lwaaKE9lB4UW7ZV9mF25aQh5N8rOw9y6E2MRjOaOYAj
	wRoFwRzAYRKKL8RtJ2Dm86LMztgn19KBKZd5BiEyeUHh4JV0zKAJ0aF8UEwnKIPtaV75
	Joy6m4Ft/Tq4DUUwML9/fsghA+z76w0sC0VS1ZHDN9ryCVWz3qKM+krh9TuoG9Y/QxKn
	LyQwX4d/3MnjxlINRuJAqkoi7Ns0frLH3SSrGVr2aJ9i6ME0aJMSf9cTOhGSwyjXze4m
	/v7CWhTqlSTiWBf5R99aAnOnFBwkXG+7c51lscigCn668HJpOb8FzzWPuVmqcdLAXGtW
	bngqb3r4UvnqdlMFN9NKLc36Lqj/8fv4Bw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-02-24T04:09:35Z</date>
</dict>
</plist>
