<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-05-14T14:50:28Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-05-14T14:50:28Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-05-14T14:50:28Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-05-14T14:50:28Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-05-13T23:01:45Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-05-13T23:01:46Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-05-14T14:50:28Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-05-12T04:00:41Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-05-14T14:51:36Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-05-13T23:01:45Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-05-14T07:01:29Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-05-13T23:01:46Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-05-13T23:01:46Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-05-13T23:01:46Z</date>
</dict>
</plist>
