<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-06-24T00:51:42Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-06-24T00:51:42Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-06-20T21:02:32Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-06-24T00:54:03Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-06-24T00:51:42Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-06-24T00:51:43Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-06-24T00:51:43Z</date>
</dict>
</plist>
