<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-06-12T23:49:56Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-06-12T23:49:56Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-06-13T01:38:58Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-06-12T23:49:56Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-06-12T15:51:39Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-06-12T15:51:40Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-06-13T01:38:58Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-06-12T15:51:40Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-06-12T19:39:11Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-06-12T15:51:39Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-06-12T15:51:40Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-06-12T15:51:40Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-06-12T15:51:40Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-06-12T15:51:40Z</date>
</dict>
</plist>
